<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/image/icone.png">

    <title>SJC Sights</title>
</head>
<body>
    <div class="navbar">
        <!-- <div class="button-container2">
            <button class="navbar-button menu" onClick="openMenu()">

            </button>
        </div> -->
        <div class="container">
            <img class="navbar-img" src="/image/logoSBG.png" alt="">
        </div>
    </div>
    <!-- <div id="barra-lateral">
        <div class="button-container">
            <button class="navbar-button menu" onClick="closeMenu()">
            </button>
        </div>
    </div> -->

    <div id="first">
        <div id="texto1" class="texto" >
            Explore São José dos<br>Campos!
        </div>
        <div class="texto">
            <span class="brand">SJC Sights</span> é muito bom Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laboriosam odit dolor est nisi dolorum maxime officiis aperiam? Impedit, perspiciatis?
        </div>
        
        <button onclick="goTo('/explorar')" class="button-first"> Explore
            <span></span>
          </button>
    </div>

    <div id="bottom">

        <img src="/image/logoSBG.png">

    </div> 

    <script src="/js/script.js"></script>
</body>
</html>